<form [formGroup]="form">
  <div nz-col nzSpan="24" class="pb-10">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">商品類別</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="category" nzPlaceHolder="請選擇商品類別" nzShowSearch nzAllowClear (ngModelChange)="categoryChange($event)">
          @for (category of categoryList; track category) {
            <nz-option [nzValue]="category.name" [nzLabel]="category.name"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  @if (form.get('category')?.value) {
    <div nz-col nzSpan="24" class="pb-10">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">商品名稱</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select formControlName="product" nzPlaceHolder="請選擇產品" nzShowSearch nzAllowClear>
            @for (product of selectedProducts; track product) {
              <nz-option [nzValue]="product" [nzLabel]="product"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  }
  <div nz-col nzSpan="24" class="pb-10">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">檢測日期</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="date" nzPlaceHolder="請選擇檢測日期" nzShowSearch nzAllowClear (ngModelChange)="dateChange($event)">
          @for (date of weekList; track date) {
            <nz-option [nzLabel]="date.label" [nzValue]="date.value"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="24" class="pb-10">
    <nz-form-item>
      <nz-form-label nzSpan="4">檢測時段</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="time" nzPlaceHolder="請選擇檢測時段" nzShowSearch nzAllowClear (ngModelChange)="timeChange($event)">
          @for (time of filteredTimeList; track time) {
            <nz-option [nzLabel]="time.label" [nzValue]="time.label"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  @if (form.get('time')?.value) {
    <div nz-col nzSpan="24" class="pb-10">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">詳細時間</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select formControlName="detailTime" nzPlaceHolder="請選擇詳細時間" nzShowSearch nzAllowClear>
            @for (detail of detailTimeList; track detail) {
              <nz-option [nzLabel]="detail.label" [nzValue]="detail.value"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  }
  <nz-divider></nz-divider>
  <div class="buttonDiv">
    <button nz-button nzType="primary" (click)="createEvent()" [disabled]="!form.valid">新增</button>
    <button nz-button nzType="default" (click)="modal.destroy()">取消</button>
  </div>
</form>

