<div class="container">
  <nz-table #filterTable
    [nzData]="displayedList"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="loading"
    [nzShowTotal]="totalTemplate"
    nzShowSizeChanger
    nzFrontPagination="false"
    (nzPageIndexChange)="getOrders($event, pageSize)"
    (nzPageSizeChange)="getOrders(pageIndex, $event)"
    ngSkipHydration>
    <thead>
      <tr>
        <th nzWidth="20px"></th>
        <th nzWidth="180px">訂單日期</th>
        <th nzWidth="180px">訂單編號</th>
        <th nzWidth="180px">
          訂單狀態
          <nz-icon nzType="info-circle" nzTheme="outline" matTooltip="點擊可編輯狀態" matTooltipPosition="above"/>
        </th>
        <th nzWidth="180px" nzShowSort (nzSortOrderChange)="onSort($event, 'total')">訂單金額</th>
        <th>買家評論</th>
        <th nzShowSort (nzSortOrderChange)="onSort($event, 'update')">更新時間</th>
        </tr>
      </thead>
      <tbody>
        @for (order of filterTable.data; track order) {
          <tr class="editable-row">
            <td [(nzExpand)]="order.expand"></td>
            <td>{{ order.date }}</td>
            <td>{{ order.id }}</td>
            <td>
              <div class="editable-cell" [hidden]="editId === order.id" (click)="startEdit(order.id)">
                {{ statusMap[order.status] }}
              </div>
              <nz-select [hidden]="editId !== order.id" [(ngModel)]="order.status"
                (ngModelChange)="updateOrders(order.id, $event, 'status')" (nzBlur)="editId = null">
                @for (status of statusList; track status) {
                  <nz-option [nzValue]="status.value" [nzLabel]="status.label"></nz-option>
                }
              </nz-select>
            </td>
            <td>${{ order.total }}</td>
            <td>
              <div>
                <nz-rate [ngModel]="order.score" nzAllowHalf nzDisabled></nz-rate>
              </div>
              <div class="pt-10">
                {{ order.comment !== '' ? order.comment : '尚未評論' }}
              </div>
              </td>
              <td>{{ order.update | date: 'yyyy-MM-dd' }}</td>
            </tr>
            <tr [nzExpand]="order.expand">
              <nz-table [nzData]="order.order_items" nzSize="middle" [nzShowPagination]="false" class="mt-3">
                <thead>
                  <tr>
                    <th>商品圖片</th>
                    <th>商品名稱</th>
                    <th>商品數量</th>
                    <th>付款方式</th>
                    <th>運送方式</th>
                    <th>商品金額</th>
                  </tr>
                </thead>
                <tbody>
                  @for (product of order.order_items; track product) {
                    <tr>
                      <td>
                        <img [src]="product.img" alt="商品圖片" width="50" height="50" loading="lazy"/>
                      </td>
                      <td>{{ product.productName }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>
                        {{ product.payment === '1' ? '信用卡' : '貨到付款' }}
                      </td>
                      <td>
                        {{ product.shipping === '1' ? '宅配' : '7-11超商取貨' }}
                      </td>
                      <td>${{ product.price }}</td>
                    </tr>
                  }
                </tbody>
            </nz-table>
          </tr>
        }
    </tbody>
  </nz-table>
  <ng-template #totalTemplate>
    總共 {{ total }} 筆
  </ng-template>
</div>
