<div class="m-4">
  <nz-table #filterTable
    [nzData]="displayedList"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="loading"
    [nzShowTotal]="totalTemplate"
    nzShowSizeChanger
    nzFrontPagination="false"
    (nzPageIndexChange)="getOrders($event, pageSize)"
    (nzPageSizeChange)="getOrders(pageIndex, $event)"
    ngSkipHydration>
    <thead>
      <tr>
        <th></th>
        <th>訂單日期</th>
        <th>訂單編號</th>
        <th>訂單狀態</th>
        <th>訂單金額</th>
        <th>付款方式</th>
        <th>運送方式</th>
        <th>買家評論</th>
        <th>更新時間</th>
      </tr>
      </thead>
      <tbody>
        @for (order of filterTable.data; track order) {
          <tr class="editable-row">
            <td [(nzExpand)]="order.expand"></td>
            <td>{{ order.date }}</td>
            <td>{{ order.id }}</td>
            <td>
              {{ statusMap[order.status] }}
              @if (order.status === 4) {
                <button nz-button nzType="link" (click)="updateOrders(order.id, 5, 'status')">完成訂單</button>
              }
            </td>
            <td>${{ order.total }}</td>
            <td>
              {{ order.pay === '1' ? '信用卡' : '貨到付款' }}
            </td>
            <td>
              {{ order.shipping === '1' ? '宅配' : '7-11取貨' }}
            </td>
            <td>
              <div>
                <nz-rate [ngModel]="order.score" (ngModelChange)="updateOrders(order.id, $event, 'score')"
                  [disabled]="((dateDiff(order.update, order.date) > 7) && order.status !== 4)" nzAllowHalf>
                </nz-rate>
              </div>
              <div style="padding-top: 10px;" [hidden]="editId === order.id" (click)="startEdit(order.id)" class="editable-cell">
                {{ order.comment !== '' ? order.comment : '尚未評論' }}
              </div>
              <input [hidden]="editId !== order.id" [(ngModel)]="order.comment"
                (blur)="updateOrders(order.id, order.comment, 'comment')" nz-input
                [disabled]="((dateDiff(order.update, order.date) > 7) && order.status !== 4)"
                placeholder="請輸入評論" style="width: 100%; margin-top: 10px;">
            </td>
            <td>{{ order.update | date: 'yyyy-MM-dd' }}</td>
            </tr>
            <tr [nzExpand]="order.expand">
              <nz-table [nzData]="order.order_items" nzSize="middle" [nzShowPagination]="false" class="mt-3">
                <thead>
                  <tr>
                    <th>商品圖片</th>
                    <th>商品名稱</th>
                    <th>商品數量</th>
                    <th>商品單價</th>
                  </tr>
                </thead>
                <tbody>
                  @for (product of order.order_items; track product) {
                    <tr>
                      <td>
                        <img [src]="product.img" style="width: 50px; height: 50px;">
                      </td>
                      <td>{{ product.productName }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>${{ product.price }}</td>
                    </tr>
                  }
                </tbody>
              </nz-table>
          </tr>
        }
    </tbody>
  </nz-table>
</div>
<ng-template #totalTemplate>
  總共 {{ total }} 筆
</ng-template>
