<div class="container mt-4">
  <!-- 小畫面：篩選器與排序 -->
  <div class="row align-items-center mb-3 d-md-none">
    <div class="col-6">
      <p class="mb-0 cursor-pointer" (click)="toggleFilter()">
        <nz-icon nzType="unordered-list"/> 篩選器
      </p>
    </div>
    <div class="col-6 text-end">
      <p class="mb-0">排序依據
        <nz-select [(ngModel)]="selectSort"
          (ngModelChange)="getProducts(pageIndex, pageSize, selectSort, selectCategory, minPrice, maxPrice)"
          [nzBorderless]="true" ngSkipHydration>
          <nz-option [nzValue]="false" nzLabel="預設"></nz-option>
          <nz-option [nzValue]="true" nzLabel="最舊"></nz-option>
        </nz-select>
      </p>
    </div>
  </div>

  <!-- 篩選器區（RWD 控制） -->
  <div class="row mb-3">
    <!-- 篩選器：小畫面要 toggle，桌面固定 -->
    <div class="col-12 col-md-3 col-lg-2" [class.d-none]="!filterOpen && isSmallScreen">
      <div class="filter-sidebar">
        <p class="mb-3 d-none d-md-block"><nz-icon nzType="unordered-list"/> 篩選器</p>
        <nz-divider class="d-none d-md-block"/>

        <div class="filter-block">
          <div class="filter-header" (click)="categoryIsExpanded = !categoryIsExpanded">
            <span>產品類型</span>
            <i nz-icon [nzType]="categoryIsExpanded ? 'minus' : 'plus'"></i>
          </div>

          @if (categoryIsExpanded) {
            <div class="filter-content">
              @for (item of categoryList; track $index) {
                <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="onCheckboxChange()">
                  {{ item.name }}
                </label>
              }
            </div>
          }
        </div>

        <nz-divider />

        <div class="filter-block">
          <div class="filter-header" (click)="priceIsExpanded = !priceIsExpanded">
            <span>價格</span>
            <i nz-icon [nzType]="priceIsExpanded ? 'minus' : 'plus'"></i>
          </div>

          @if (priceIsExpanded) {
            <div class="filter-content">
              <div class="d-flex align-items-center">
                <nz-input-number class="me-2" [(ngModel)]="minPrice" [nzMin]="0"></nz-input-number>
                <span class="mx-1">-</span>
                <nz-input-number class="ms-2" [(ngModel)]="maxPrice" [nzMin]="0"
                  (ngModelChange)="getProducts(pageIndex, pageSize, selectSort, selectCategory, minPrice, maxPrice)">
                </nz-input-number>
              </div>
            </div>
          }
        </div>

        <nz-divider />
        <p (click)="resetFilter()" style="cursor: pointer;"><nz-icon nzType="redo"/> 清除篩選條件</p>
      </div>
    </div>

    <!-- 商品區與排序 -->
    <div class="col-12 col-md-9 col-lg-10">
      <div class="text-end mb-3 d-none d-md-block">
        <p class="mb-0">
          排序依據
          <nz-select [(ngModel)]="selectSort" [nzBorderless]="true" ngSkipHydration
            (ngModelChange)="getProducts(pageIndex, pageSize, selectSort, selectCategory, minPrice, maxPrice)">
            <nz-option [nzValue]="false" nzLabel="預設"></nz-option>
            <nz-option [nzValue]="true" nzLabel="最舊"></nz-option>
          </nz-select>
        </p>
      </div>
      <div class="row">
        @for (product of productsList; track $index) {
          <div class="col-6 col-lg-4 col-xl-3 mb-4" >
            <div class="p-2 text-center" [routerLink]="[product.id]" style="cursor: pointer;">
              <div class="product-img mb-2" [ngStyle]="{'background-image': 'url(' + product.imageUrl + ')'}">
              </div>
              <div>{{ product.name }}</div>
              <div>
                @if (product.stock === 0) {
                  <span class="sold-out">已售完</span>
                }
                @else {
                  <span>${{ product.price }}</span>
                }
              </div>
            </div>
          </div>
        }
        <div class="col-12 d-flex justify-content-end">
          <nz-pagination [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzShowTotal]="totalTemplate"
            nzShowSizeChanger=true [nzPageSizeOptions]="[12, 24, 36, 48]" [nzTotal]="total"
            (nzPageIndexChange)="getProducts($event, pageSize, selectSort, selectCategory, minPrice, maxPrice)"
            (nzPageSizeChange)="getProducts(pageIndex, $event, selectSort, selectCategory, minPrice, maxPrice)">
          </nz-pagination>
        </div>
        <ng-template #totalTemplate>
          總共 {{ total }} 筆
        </ng-template>
      </div>
    </div>
  </div>
</div>
