.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.login-container {
  display: flex;
  width: 100%;
  max-width: 900px;
  min-height: 600px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.form-section {
  flex: 1 1 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-section {
  flex: 1 1 300px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    min-height: 600px;
  }

  .image-section {
    order: -1;
    height: 250px;
  }
}

.forgot {
    display: block;
    margin-bottom: 16px;
    color: #4a7cff;
    font-size: 14px;
  }

.actionDiv{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.buttonDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}

.error{
  color: red;
  padding-top: 5px;
}

