<div class="login-wrapper">
  <div class="login-container">
    <div class="image-section">
      <img src="/img/loginbg.png" alt="Login Illustration" />
    </div>
    <div class="form-section">
      <h2>登入</h2>
      <form [formGroup]="form">
        <nz-form-item>
          <nz-form-control>
            <input nz-input formControlName="email" placeholder="請輸入電子郵件" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <input nz-input type="password" formControlName="password" placeholder="請輸入密碼" />
          </nz-form-control>
        </nz-form-item>
        <div class="actionDiv">
          <a>忘記密碼?</a>
          <a>註冊</a>
        </div>
        <div style="gap: 10px;display: flex;">
          <button nz-button nzType="primary" (click)="login()">登入</button>
          <button nz-button nzType="default" (click)="supabaseService.googleLogin()">
            <nz-icon nzType="google" nzTheme="outline" />
            <span>Google</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
