<nz-steps [nzCurrent]="current" nzSize="small">
  <nz-step nzTitle="確認商品" nzDescription="檢查訂單內容"></nz-step>
  <nz-step nzTitle="寄送方式" nzDescription="選擇寄送方式"></nz-step>
  <nz-step nzTitle="付款方式" nzDescription="選擇付款方式"></nz-step>
  <nz-step nzTitle="完成訂單" nzDescription="訂單已送出"></nz-step>
</nz-steps>

<div class="steps-content mt-4">
  @switch (current) {
    @case (0) {
      <div class="col-12">
        <div class="bg-white rounded p-4 shadow-sm">
          <h5 class="fw-bold mb-3">訂單摘要</h5>
          @for (item of cartItems; track $index) {
            <div class="d-flex justify-content-between mb-2">
              <span>{{ item.products.name }} ({{ item.quantity }})</span>
              <span>${{ item.products.price }}</span>
            </div>
          }
          <hr/>
          <div class="d-flex justify-content-between">
            <span>小計</span>
            <span>${{ total }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span>運費</span>
            <span>
              @if (shippingMethod === 1) {
                $70
              }
              @else if (shippingMethod === 2) {
                $60
              }
            </span>
          </div>
          <hr/>
          <div class="d-flex justify-content-between fw-bold">
            <span>預估總金額</span>
            <span>${{ total + (shippingMethod === 1 ? 70 : 60) }}</span>
          </div>
        </div>
      </div>
    }
    @case (1) {
      <div class="col-12">
        <nz-radio-group [(ngModel)]="shippingMethod" (ngModelChange)="onShippingMethodChange()">
          <label nz-radio [nzValue]="1">宅配</label>
          <label nz-radio [nzValue]="2">7-11取貨</label>
        </nz-radio-group>
        <div class="mt-4">
          @switch (shippingMethod) {
            @case (1) {
              <form nz-form [formGroup]="form">
                <div class="row g-3 mb-3">
                  <div class="col-12 col-md-4">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select nzPlaceHolder="選擇城市" (ngModelChange)="getArea($event)" formControlName="city" nzAllowClear nzShowSearch>
                          @for (item of cities; track $index) {
                            <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-12 col-md-4">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select nzPlaceHolder="選擇區域" formControlName="area" nzAllowClear nzShowSearch>
                          @for (item of areaList; track $index) {
                            <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                   <div class="col-12 col-md-4">
                    <nz-form-item>
                      <nz-form-control>
                        <input formControlName="name" nz-input placeholder="請輸入姓名" />
                      </nz-form-control>
                      @if (form.get('name')?.errors?.['required']) {
                        <div style="display: flex; align-items: center;">
                          <span style="color:red;margin-left: 5px;">姓名為必填</span>
                        </div>
                      }
                    </nz-form-item>
                  </div>
                </div>
                <div class="row g-3 mb-3">
                  <div class="col-12 col-md-6">
                    <nz-form-item>
                      <nz-form-control>
                        <input formControlName="phone" nz-input placeholder="請輸入聯絡電話" />
                      </nz-form-control>
                      @if (form.get('phone')?.errors?.['required']) {
                        <div style="display: flex; align-items: center;">
                          <span style="color:red;margin-left: 5px;">電話為必填</span>
                        </div>
                      }
                    </nz-form-item>
                  </div>
                  <div class="col-12 col-md-6">
                    <nz-form-item>
                      <nz-form-control>
                        <input formControlName="address" nz-input placeholder="請輸入地址" />
                      </nz-form-control>
                      @if (form.get('address')?.errors?.['required']) {
                        <div style="display: flex; align-items: center;">
                          <span style="color:red;margin-left: 5px;">地址為必填</span>
                        </div>
                      }
                    </nz-form-item>
                  </div>
                </div>
              </form>
            }
            @case (2) {
              <form [formGroup]="form">
                <div class="row g-3 mt-2">
                  <div class="col-12 col-md-4">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select nzPlaceHolder="選擇城市" (ngModelChange)="getArea($event)" formControlName="city" nzAllowClear nzShowSearch>
                          @for (item of cities; track $index) {
                            <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-12 col-md-4">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select nzPlaceHolder="選擇區域" formControlName="area" nzAllowClear nzShowSearch
                          (ngModelChange)="getStore(form.value.city, $event)">
                          @for (item of areaList; track $index) {
                            <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-12 col-md-4">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select nzPlaceHolder="選擇取貨門市" formControlName="store" nzAllowClear nzShowSearch>
                          @for (item of storeList; track $index) {
                            <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                      @if (form.get('store')?.errors?.['required']) {
                        <div style="display: flex; align-items: center;margin-top: 5px;">
                          <span style="color:red;">取貨門市為必填</span>
                        </div>
                      }
                    </nz-form-item>
                  </div>
                </div>
                <div class="row g-3 mb-3">
                  <div class="col-12 col-md-6">
                    <nz-form-item>
                      <nz-form-control>
                        <input formControlName="name" nz-input placeholder="請輸入姓名" />
                      </nz-form-control>
                      @if (form.get('name')?.errors?.['required']) {
                        <div style="display: flex; align-items: center;margin-top: 5px;">
                            <span style="color:red;">姓名為必填</span>
                        </div>
                      }
                    </nz-form-item>
                  </div>
                  <div class="col-12 col-md-6">
                    <nz-form-item>
                      <nz-form-control>
                        <input formControlName="phone" nz-input placeholder="請輸入聯絡電話" />
                      </nz-form-control>
                      @if (form.get('phone')?.errors?.['required']) {
                      <div style="display: flex; align-items: center;margin-top: 5px;">
                        <span style="color:red;">電話為必填</span>
                      </div>
                      }
                    </nz-form-item>
                  </div>
                </div>
              </form>
              <div>
                門市地址: {{ storeList[getSelectedStoreIndex()]?.address || '--' }}
              </div>
            }
          }
        </div>
      </div>
    }
    @case (2) {
      <div class="col-12">
        <nz-radio-group [(ngModel)]="payMethod">
          <label nz-radio [nzValue]="1">信用卡</label>
          <label nz-radio [nzValue]="2">貨到付款</label>
        </nz-radio-group>
        <div class="mt-4">
          @if (payMethod === 1) {
            <form nz-form [formGroup]="form">
               <div nz-col nzSpan="24" class="pb-10">
                <nz-form-item>
                  <nz-form-label [nzSpan]="4">持卡人姓名</nz-form-label>
                  <nz-form-control [nzSpan]="11">
                    <input nz-input formControlName="cardHolder" placeholder="請輸入持卡人姓名"/>
                  </nz-form-control>
                  @if (form.get('cardHolder')?.errors?.['required']) {
                    <div style="display: flex; align-items: center;margin-left: 5px;">
                      <span style="color:red;">持卡人姓名為必填</span>
                    </div>
                  }
                </nz-form-item>
              </div>
              <div nz-col nzSpan="16">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6">信用卡號</nz-form-label>
                  <nz-form-control [nzSpan]="17">
                    <input nz-input formControlName="cardNumber" maxlength="16"
                      autocomplete="cc-number" (ngModelChange)="checkCardType($event)"/>
                    @if (form.get('cardNumber')?.errors?.['required']) {
                      <div style="margin-top: 5px;">
                        <span style="color:red;">信用卡號為必填</span>
                      </div>
                    }
                    @if (form.get('cardNumber')?.errors?.['invalidCardNumber']) {
                      <div style="margin-top: 5px;">
                        <span style="color:red;">無效的信用卡號</span>
                      </div>
                    }
                  </nz-form-control>
                  <div nz-col nzSpan="2">
                    @if (cardTypeImg) {
                      <img [src]="cardTypeImg" height="32px"/>
                    }
                  </div>
                </nz-form-item>
              </div>

              <div nz-row nzGutter="8">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="8">到期日</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                      <nz-date-picker formControlName="expiryDate" nzFormat="MM/yyyy"
                        nzMode="month" nzPlaceHolder="請選擇到期日">
                      </nz-date-picker>
                      @if (form.get('expiryDate')?.errors?.['required']) {
                        <div style="margin-top: 5px;">
                          <span style="color:red;">到期日為必填</span>
                        </div>
                      }
                      @if (form.get('expiryDate')?.errors?.['expired']) {
                        <div style="margin-top: 5px;">
                          <span style="color:red;">這張卡已過期</span>
                        </div>
                      }
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="4">安全碼</nz-form-label>
                    <nz-form-control [nzSpan]="11">
                      <input nz-input formControlName="csv" maxlength="3" style="width: 80px" autocomplete="cc-csc"/>
                      @if (form.get('csv')?.errors?.['required']) {
                        <div style="margin-top: 5px;">
                          <span style="color:red;">安全碼為必填</span>
                        </div>
                      }
                      @if (form.get('csv')?.errors?.['pattern']) {
                        <div style="margin-top: 5px;">
                          <span style="color:red;">無效的安全碼</span>
                        </div>
                      }
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </form>
          }
        </div>
      </div>
    }
    @case (3) {
      <nz-result nzStatus="success" nzTitle="訂單已成功送出！">
        <div nz-result-extra>
          <button matButton routerLink="/order">查看訂單</button>
          <button matButton routerLink="/home">繼續購物</button>
        </div>
      </nz-result>
    }
  }
</div>
<div class="steps-action mt-4 text-end">
  @if (current > 0 && current !== 3) {
    <button matButton (click)="prev()">
      <span>上一步</span>
    </button>
  }
  @if (current < 2) {
    <button matButton (click)="next()">
      <span>下一步</span>
    </button>
  }
  @if (current === 2) {
    <button matButton (click)="next()">
      <span>完成訂單</span>
    </button>
  }
</div>
